<section class="mt-5">
    <div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
    </div >
    <div class="container mt-5 pt-4 py-2">
        <h2>Información personal</h2>
        <ul>
            <li><span class="fw-bold">Nombre:</span> Damián Lindström</li>
            <li><span class="fw-bold">Fecha de nacimiento:</span> 05/06/1990</li>
            <li><span class="fw-bold">E-mail:</span> damianlindstrom&#64;gmail.com</li>
            <li><span class="fw-bold">Dirección:</span> Casazza 125, Avellaneda</li>
        </ul>
    </div>
    <div class="container my-3 p-3">
        <h2>Educación</h2>
        <ul>
            <li>Tecnicatura Superior en Programación</li>
            <li class="fw-bold">Universidad Técnologica Nacional - UTN</li>
            <li><span class="fw-bold">Estado: </span> En curso</li>
            <li>De 2025-02-28, hasta a la actualidad</li>
            <p>___________________________________________________</p>
            <li>Argentina Programa</li>
            <li class="fw-bold">Ministerio de Desarrollo / CESSI</li>
            <li>De 2020-06-01, hasta 2021-11-30</li>
            <p>___________________________________________________</p>
        </ul>
    </div>
    <div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
    </div >
    <div class="container my-3 p-3">
        <h2>Experiencia relevante</h2>
        <ul>
            <li class="fw-bold">Desarrollador FrontEnd</li>
            <li class="fst-italic">IWGIA - Freelancer</li>
            <li>Desarrollo del sitio web 'debatesindigenas.org', Mantenimiento técnico y actualización del sitio, Desarrollo, diseño y programación de buscador web PHP/MySQL, diseño y programación de campañas de mailing, Coordinación técnica con empresa proveedora de hosting</li>
            <li>De 2019-07-01, hasta 2024-01-01</li>
        </ul>
        
    </div>
    
    <div class="container my-3 p-3">
        <h2>Tecnologías</h2>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript (ES6+)</li>
            <li>Bootstrap</li>
            <li>Angular</li>
            <li>Node.js</li>  
            <li>Python</li>
            <li>Springboot</li>          
            <li>MySQL</li>            
            <li>TypeScript</li>
            <li>Github</li>
            <li>Figma</li>

        </ul>
    </div>
</section>