h2 {
    font-size: 1.2em;
    text-decoration: underline;
    margin: auto;
    color: black;
    font-weight: bold;
    line-height: 2;
}
ul li {
    font-size: 1.05em;
    margin: auto;
    color: black;
}
div.d-flex h2 {
    margin-left: 0.25em;
}
li.mb-4.p-3 {
    color: black;
}
li.mb-4.p-3:hover{
    border: .1em solid gray;
    color: red;
    cursor: pointer;
}