<section class="mt-5 py-2">
    <div class="container-fluid mt-5">
      <div class="d-flex my-2">
        <h2 class="mb-0">Experiencia previa</h2>
        <button class="btn btn-primary btn-sm" (click)="openAddModal()">
          <i class="bi bi-plus-lg"></i> Agregar
        </button>
      </div>
  
      <ul class="list-unstyled">
        <li *ngFor="let experiencia of experiencias$ | async" class="mb-4 p-3">
          <div class="d-flex justify-content-between align-items-start">
            <div>
              <h5>{{ experiencia.jobTitle }}</h5>
              <p class="fst-italic mb-1">
                {{ experiencia.empresa }} - {{ experiencia.situation }} - 
                De {{ experiencia.from }}, hasta {{ experiencia.to }}
              </p>
              <p class="mb-0">{{ experiencia.jobDescription }}</p>
            </div>
            <div class="btn-group">
              <button class="btn btn-outline-primary btn-sm" (click)="openEditModal(experiencia)">
                <i class="bi bi-pencil"></i>
              </button>
              <button class="btn btn-outline-danger btn-sm" (click)="deleteExperiencia(experiencia.id)">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>